# Ignore all .png files
Concentration.png
Education by Community Area.png
Frequency by Day (Bar).png
Frequency by Day (Line).png
Frequency by Hour (Bar).png
Frequency by Hour (Line).png
Frequency by Month (Bar).png
Frequency by Month (Line).png
Frequency by Severity.png
Frequency by Year.png 
Income by Community Area.png
Severity by Day (Bar).png
Severity by Day (Line).png
Severity by Hour (Bar).png
Severity by Hour (Line).png
Severity by Location.png
Severity by Month (Bar).png
Severity by Month (Line).png
Severity by Year.png
Top 10 Locations.png
Top 15 Primary Types.png